<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{ project.name }}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <h4 class="page-title">Attack</h4>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <h4 class="card-title">Attack interface</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <select class="form-control"
                                onchange="fillFlawOptions('{{ request.path }}', this.value);">
                            {% if not current_flaw %}
                            <option value="" selected disabled hidden>Select flaw</option>
                            {% endif %}
                            {% for flaw in all_flaws %}
                            <option value="{{ flaw }}" {% if flaw == current_flaw %}selected{% endif %}>{{ flaw }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="executeAttack('{{ request.path }}');">Execute</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Attack options</div>
                    </div>
                </div>
                <div class="card-body" id="options-content">
                    <div class="row mt-2">
                        {% for option, value in options %}
                        {% if option == 'PAYLOAD' %}
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>{{ option }}</label>
                                <select class="form-control" id="{{ option }}" name="{{ option }}"
                                        onchange="addPayloadOptions('{{ option }}', this.value);">
                                    {% if value is not None %}
                                    <option value="{{ value }}" selected>{{ value }}</option>
                                    {% for payload in all_payloads %}
                                    <option value="{{ payload }}">{{ payload }}</option>
                                    {% endfor %}
                                    {% else %}
                                    <option value="" selected disabled hidden>Select payload</option>
                                    {% for payload in all_payloads %}
                                    <option value="{{ payload }}">{{ payload }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        {% else %}
                        {% if value == 'yes' or value == 'no' %}
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>{{ option }}</label>
                                <select class="form-control" id="{{ option }}" name="{{ option }}"
                                        onchange="addPayloadOptions('{{ option }}', this.value);">
                                    <option value="{{ value }}" selected>{{ value }}</option>
                                    {% if value == 'yes' %}
                                    <option value="no">no</option>
                                    {% else %}
                                    <option value="yes">yes</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>{{ option }}</label>
                                <input class="form-control" id="{{ option }}" name="{{ option }}" placeholder="{{ option }}" type="text"
                                       value="{% if value is not None %}{{ value }}{% endif %}"
                                       onchange="setFlawOption('{{ request.path }}', '{{ current_flaw }}', '{{ option }}', this.value);">
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Attack log</div>
                        <div class="card-tools">
                            <button id="attack-image" class="btn btn-info btn-border btn-round btn-sm">
                                <span class="btn-label">
                                    <i class="fa fa-file-export mr-2"></i>
                                </span>
                                Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="form-group" id="attack-log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('#attack-image').on('click', function() {
    html2canvas(document.querySelector("#attack-log")).then(canvas => {
        var link = document.createElement("a");
        document.body.appendChild(link);
        link.download = "attack.png";
        link.href = canvas.toDataURL();
        link.target = '_blank';
        link.click();
    });
});

function addPayloadOptions(option, value) {
    setFlawOption('{{ request.path }}', '{{ current_flaw }}', option, value);
    fillFlawOptions('{{ request.path }}', '{{ current_flaw }}');
}

function executeAttack(url) {
    {% if current_flaw %}
    if (url) {
        data = '<center><i class="fa fa-cog fa-4x fa-spin"></i></center>'
        $('#attack-log').html(data);

        $.ajax(url, {
            type: 'POST',
            data: {
                attack: '{{ current_flaw }}',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $('#attack-log').html(data);
            }
        });
    } else {
        $('#attack-log').html('');
    }
    {% endif %}
}
</script>