<div class="content" id="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">{{ project.name }}</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <h4 class="page-title">Flaws</h4>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Flaws detected</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="update-protected table-responsive">
                            <table class="display table table-hover" id="flaws-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Family</th>
                                    <th>Host</th>
                                    <th>Port</th>
                                    <th>Rank</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for flaw in flaws %}
                                {% if flaw.project == project.uuid %}
                                <tr>
                                    <td>{{ flaw.name }}</td>
                                    <td>{{ flaw.family }}</td>
                                    <td>{{ flaw.host }}</td>
                                    <td>
                                        {% if flaw.port != 0 %}
                                        {% if flaw.port == 80 or flaw.port == 8080 or flaw.port == 443 or flaw.port == 81 %}
                                        <button class="btn btn-sm btn-success" onclick="document.getElementById('observeFrame').src = 'http://{{ flaw.host }}:{{ flaw.port }}/'"
                                                data-toggle="modal" data-target="#openFrame">
                                            <span class="btn-label">
                                                {{ flaw.port }}
                                            </span>
                                            {{ flaw.service }}
                                        </button>
                                        {% else %}
                                        <button class="btn btn-sm btn-success disabled">
                                            <span class="btn-label">
                                                {{ flaw.port }}
                                            </span>
                                            {{ flaw.service }}
                                        </button>
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if flaw.rank == 'high' %}
                                        <span class="badge badge-danger" style="border-radius: 4px;"> High</span>
                                        {% elif flaw.rank == 'medium' %}
                                        <span class="badge badge-warning" style="border-radius: 4px;"> Medium</span>
                                        {% elif flaw.rank == 'low' %}
                                        <span class="badge badge-success" style="border-radius: 4px;"> Low</span>
                                        {% elif flaw.rank == 'info' %}
                                        <span class="badge badge-info" style="border-radius: 4px;"> Info</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="form-button-action">
                                            <button class="btn btn-link btn-primary btn-lg" data-original-title="Show"
                                                    data-toggle="tooltip"
                                                    title="" type="button">
                                                <i class="fa fa-external-link-alt"></i>
                                            </button>
                                            {% if flaw.exploitable %}
                                            <button class="btn btn-link btn-danger btn-lg" data-original-title="Attack"
                                                    onclick="fillAttackDetails('/{{ project.uuid }}/network', '{{ flaw.name }}', '{{ flaw.host }}', '{{ flaw.port }}');"
                                                    data-toggle="modal"
                                                    data-target="#attackModal"
                                                    title="" type="button">
                                                <i class="fa fa-bomb"></i>
                                            </button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Top flaws</div>
                            <div class="card-tools">
                                <button id="flaws-image" class="btn btn-info btn-border btn-round btn-sm">
                                    <span class="btn-label">
                                        <i class="fa fa-file-export mr-2"></i>
                                    </span>
                                    Export
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="update-protected chart-container-sm">
                            <canvas id="flaws-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('#flaws-image').on('click', function() {
    var link = document.createElement("a");
    document.body.appendChild(link);
    link.download = "flaws.png";
    link.href = flawsChart.toBase64Image();
    link.target = '_blank';
    link.click();
});

$('#flaws-table').DataTable({
    "pageLength": 5,
});

var flawsObject = document.getElementById('flaws-chart').getContext('2d');
var flawsChart = new Chart(flawsObject, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ flaws_ranks.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ flaws_ranks.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: true,
            position: 'left'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});
</script>