<div id="host-details-content" class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Main characteristics</div>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar">
                            <img draggable="false" src="/static/assets/img/{{ platform }}.png" alt="..." class="avatar-img">
                        </div>
                        <div class="flex-1 pt-1 ml-2">
                            <h6 class="fw-bold mb-1">Platform</h6>
                            <small class="text-muted">{{ platform }}</small>
                        </div>
                    </div>
		            {% if vendor %}
		            <div class="separator-dashed"></div>
		            <div class="d-flex">
                        <div class="avatar">
                            <img draggable="false" src="/static/assets/img/unidentified.png" alt="..." class="avatar-img">
                        </div>
                        <div class="flex-1 pt-1 ml-2">
                            <h6 class="fw-bold mb-1">Vendor</h6>
                            <small class="text-muted">{{ vendor }}</small>
                        </div>
                    </div>
		            {% endif %}
                    <div class="separator-dashed"></div>
		            <div class="d-flex">
                        <div class="avatar">
                            <img draggable="false" src="/static/assets/img/network.png" alt="..." class="avatar-img">
                        </div>
                        <div class="flex-1 pt-1 ml-2">
                            <h6 class="fw-bold mb-1">Gateway</h6>
                            <small class="text-muted">{{ gateway }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Flaws</div>
                        <div class="card-tools">
                            <button id="flaws-1-image" class="btn btn-info btn-border btn-round btn-sm">
                                <span class="btn-label">
                                    <i class="fa fa-file-export mr-2"></i>
                                </span>
                                Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="update-protected chart-container">
                        <canvas id="flaws-1-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
	    <div class="col-md-4">
	        <div class="card card-primary bg-primary-gradient">
	            <div class="card-body">
	                <h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active sessions</h4>
		            <h1 class="mb-4 fw-bold">{{ sessions | length }}</h1>
		            <h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Sessions types</h4>
                    {% if sessions_types.0 %}
		            <div class="update-protected chart-container">
                        <canvas id="sessions-1-chart"></canvas>
                    </div>
                    {% endif %}
		        </div>
	        </div>
	    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>

<script>
$('#flaws-1-image').on('click', function() {
    var link = document.createElement("a");
    document.body.appendChild(link);
    link.download = "flaws.png";
    link.href = flaws1Chart.toBase64Image();
    link.target = '_blank';
    link.click();
});

var flaws1Object = document.getElementById('flaws-1-chart').getContext('2d');
var flaws1Chart = new Chart(flaws1Object, {
    type: 'pie',
    data: {
        datasets: [{
            data: {{ flaws_ranks.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ flaws_ranks.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
            position: 'top'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});

var sessions1Object = document.getElementById('sessions-1-chart').getContext('2d');
var sessions1Chart = new Chart(sessions1Object, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ sessions_types.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ sessions_types.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
            position: 'top'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});
</script>
