<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                    <h5 class="text-white op-7 mb-2">{{ project.name }} Dashboard</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <button id="dashboard-image" class="btn btn-danger btn-round">
                        <span class="btn-label">
                            <i class="fa fa-file-export mr-2"></i>
                        </span>
                        Export
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5" id="dashboard">
        <div class="row mt--2">
            <div class="col-md-4">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Audit statistics</div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-1"></div>
                                <h6 class="fw-bold mt-3 mb-0">Networks</h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-2"></div>
                                <h6 class="fw-bold mt-3 mb-0">Hosts</h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-3"></div>
                                <h6 class="fw-bold mt-3 mb-0">Flaws</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Platforms</div>
                        <div class="row py-3 justify-content-center">
                            <div class="update-protected d-flex justify-content-center">
								<canvas id="platforms-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Flaws</div>
                        <div class="row py-3 justify-content-center">
                            <div class="update-protected d-flex justify-content-center">
								<canvas id="flaws-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Scan totals</div>
                        <div class="row py-3">
                            <div class="col-md-4 d-flex flex-column justify-content-around">
                                <div>
                                    <h6 class="fw-bold text-uppercase text-success op-8">Scanned hosts</h6>
                                    <h3 class="fw-bold">{{ hosts|length }}</h3>
                                </div>
                                <div>
                                    <h6 class="fw-bold text-uppercase text-danger op-8">Hosts left</h6>
                                    <h3 class="fw-bold">0</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div id="update-protected chart-container">
                                    <canvas id="scan-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Recent vulnerabilities</h4>
                            <div class="card-tools">
                                <a id="topology-image" download="topology.png" class="btn btn-info btn-border btn-round btn-sm">
                                    <span class="btn-label">
                                        <i class="fa fa-file-export mr-2"></i>
                                    </span>
                                    Export
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="table-responsive table-hover table-sales">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Family</th>
                                            <th scope="col">Host</th>
                                            <th scope="col">Port</th>
                                            <th scope="col">Rank</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for flaw in flaws %}
                                        {% if flaw.project == project.uuid %}
                                        {% if forloop.counter < 6 %}
                                        <tr>
                                            <td>{{ flaw.name }}</td>
                                            <td>{{ flaw.family }}</td>
                                            <td>{{ flaw.host }}</td>
                                            <td>
                                                {% if flaw.port != 0 %}
                                                {% if flaw.port == 80 or flaw.port == 8080 or flaw.port == 443 or flaw.port == 81 %}
                                                <button class="btn btn-sm btn-success" onclick="document.getElementById('observeFrame').src = '{{ flaw.service }}://{{ flaw.host }}:{{ flaw.port }}/'"
                                                        data-toggle="modal" data-target="#openFrame">
                                                    <span class="btn-label">
                                                        {{ flaw.port }}
                                                    </span>
                                                    {{ flaw.service }}
                                                </button>
                                                {% else %}
                                                <button class="btn btn-sm btn-success disabled">
                                                    <span class="btn-label">
                                                        {{ flaw.port }}
                                                    </span>
                                                    {{ flaw.service }}
                                                </button>
                                                {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if flaw.rank == 'high' %}
                                                <span class="badge badge-danger" style="border-radius: 4px;"> High</span>
                                                {% elif flaw.rank == 'medium' %}
                                                <span class="badge badge-warning" style="border-radius: 4px;"> Medium</span>
                                                {% elif flaw.rank == 'low' %}
                                                <span class="badge badge-success" style="border-radius: 4px;"> Low</span>
                                                {% elif flaw.rank == 'info' %}
                                                <span class="badge badge-info" style="border-radius: 4px;"> Info</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="form-button-action">
                                                    <button class="btn btn-link btn-primary btn-lg" data-original-title="Details"
                                                            onclick="fillFlawDetails('/{{ project.uuid }}/network', '{{ flaw.name }}');"
                                                            data-toggle="modal"
                                                            data-target="#flawDetails"
                                                            title="" type="button">
                                                        <i class="fa fa-external-link-alt"></i>
                                                    </button>
                                                    {% if flaw.exploitable %}
                                                    <button class="btn btn-link btn-danger btn-lg" data-original-title="Attack"
                                                            onclick="fillAttackDetails('/{{ project.uuid }}/network', '{{ flaw.name }}', '{{ flaw.host }}', '{{ flaw.port }}');"
                                                            data-toggle="modal"
                                                            data-target="#attackModal"
                                                            title="" type="button">
                                                        <i class="fa fa-bomb"></i>
                                                    </button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="update-protected chart-container">
                                    <div style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;" id="topology-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-card-no-pd">
            <div class="col-md-4">
	            <div class="card card-primary bg-primary-gradient">
	                <div class="card-body">
	                    <h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active sessions</h4>
		                <h1 class="mb-4 fw-bold">{{ sessions | length }}</h1>
                        <h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Sessions globe</h4>
                        <div id="sessions-globe" class="update-protected" style="height: 50rem;"></div>
		            </div>
	            </div>
	        </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Hosts detected</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="update-protected table-responsive">
                            <table class="display table table-hover" id="hosts-table">
                                <thead>
                                <tr>
                                    <th>Host</th>
                                    <th>Gateway</th>
                                    <th>DNS</th>
                                    <th>Platform</th>
                                    <th>Vendor</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for host in hosts %}
                                {% if host.project == project.uuid %}
                                <tr>
                                    <td>{{ host.host }}</td>
                                    <td>{{ host.gateway }}</td>
                                    <td>{{ host.dns }}</td>
                                    <td>{{ host.platform }}</td>
                                    <td>{{ host.vendor }}</td>
                                    <td>
                                        <button class="btn btn-link btn-primary btn-lg" data-original-title="Details"
                                                onclick="fillHostDetails('/{{ project.uuid }}/network', '{{ host.host }}');"
                                                data-toggle="modal"
                                                data-target="#hostDetails"
                                                title="" type="button">
                                            <i class="fa fa-external-link-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var chart = am4core.create("sessions-globe", am4maps.MapChart);

chart.geodata = am4geodata_worldLow;
chart.projection = new am4maps.projections.Orthographic();
chart.deltaLatitude = -30;
chart.panBehavior = "rotateLongLat";
chart.marginTop = 20;
chart.marginBottom = 20;

var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
polygonSeries.useGeodata = true;
polygonSeries.north = 90;
polygonSeries.south = -90;

var polygonTemplate = polygonSeries.mapPolygons.template;
polygonTemplate.tooltipText = "{name}";
polygonTemplate.fill = am4core.color("#1582e8");
polygonTemplate.stroke = am4core.color("#aaa");
polygonTemplate.strokeWidth = 1;

var imageSeries = chart.series.push(new am4maps.MapImageSeries());

var imageSeriesTemplate = imageSeries.mapImages.template;
var circle = imageSeriesTemplate.createChild(am4core.Circle);
circle.radius = 4;
circle.fill = am4core.color("#B27799");
circle.stroke = am4core.color("#FFFFFF");
circle.strokeWidth = 2;
circle.nonScaling = true;
circle.tooltipText = "{title}";

imageSeriesTemplate.propertyFields.latitude = "latitude";
imageSeriesTemplate.propertyFields.longitude = "longitude";

imageSeries.data = [
{% for session in sessions %}
{% if session.project == project.uuid %}
{
  "latitude": {{ session.latitude }},
  "longitude": {{ session.longitude }},
  "title": "{{ session.host }}"
},
{% endif %}
{% endfor %}
];

var hs = polygonTemplate.states.create("hover");
hs.properties.fill = am4core.color("#1572e8");

chart.animate({
  key: "rotationX",
  from: 0,
  to: 360,
  duration: 30000,
  loops: Infinity
});

chart.appear(1000, 100);

$('#dashboard-image').on('click', function() {
    html2canvas(document.querySelector("#dashboard")).then(canvas => {
        var link = document.createElement("a");
        document.body.appendChild(link);
        link.download = "dashboard.png";
        link.href = canvas.toDataURL();
        link.target = '_blank';
        link.click();
    });
});

var nodes = null;
var edges = null;
var network = null;

var LENGTH_MAIN = 350,
    LENGTH_SERVER = 150,
    LENGTH_SUB = 120,
    WIDTH_SCALE = 2,
    GREEN = "green",
    RED = "#C5000B",
    ORANGE = "orange",
    GRAY = "gray",
    BLACK = "#2B1B17";

function draw() {
    nodes = [];
    edges = [];

    var value = 1;
    var width = WIDTH_SCALE * 2;
    var color = GRAY;
    var label = null;

    nodes.push({
        id: 0,
        label: "Fishnet",
        group: "fishnet",
        value: 10,
        shape: "image",
        image: "/static/assets/img/icon.png"
    });

    {% for network in networks %}
    {% with forloop.counter as id %}
    nodes.push({
        id: {{ id }},
        label: "{{ network.gateway | safe }}",
        group: "network",
        value: "{{ network.gateway | safe }}",
        shape: "image",
        image: "/static/assets/img/network.png"
    });
    edges.push({
        from: 0,
        to: {{ id }},
        length: LENGTH_SUB,
        color: color,
        fontColor: color,
        width: width,
        label: null
    })
    {% for host in hosts %}
    {% if host.gateway == network.gateway %}
    nodes.push({
        id: {{ id }}{{ forloop.counter }},
        label: "{{ host.host | safe }}",
        group: "host",
        value: "{{ host.host | safe }}",
        shape: "image",
        image: "/static/assets/img/{{ host.platform }}.png"
    });
    edges.push({
        from: {{ id }}{{ forloop.counter }},
        to: {{ id }},
        length: LENGTH_SUB,
        color: color,
        fontColor: color,
        width: width,
        label: null
    })
    {% endif %}
    {% endfor %}
    {% endwith %}
    {% endfor %}

    var container = document.getElementById("topology-chart");
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        nodes: {
            scaling: {
                min: 16,
                max: 32
            },
        },
        edges: {
            color: GRAY,
            smooth: false
        },
        physics: {
            barnesHut: {
                gravitationalConstant: -30000
            },
            stabilization: {
                iterations: 2500
            }
        },
    };

    network = new vis.Network(container, data, options);
    network.on("afterDrawing", function(ctx) {
        var dataURL = ctx.canvas.toDataURL();
        document.getElementById('topology-image').href = dataURL;
    });
}

draw();

$('#hosts-table').DataTable({
    "pageLength": 5,
});

Circles.create({
    id: 'circles-1',
    radius: 45,
    value: {{ networks|length }},
    maxValue: 100,
    width: 7,
    text: "{{ networks | length }}",
    colors: ['#f1f1f1', '#FF9E27'],
    duration: {% if animate %} 400 {% else %} 0 {% endif %},
    wrpClass: 'circles-wrp',
    textClass: 'circles-text',
    styleWrapper: true,
    styleText: true
})

Circles.create({
    id: 'circles-2',
    radius: 45,
    value: {{ hosts | length }},
    maxValue: 100,
    width: 7,
    text: "{{ hosts | length }}",
    colors: ['#f1f1f1', '#2BB930'],
    duration: {% if animate %} 400 {% else %} 0 {% endif %},
    wrpClass: 'circles-wrp',
    textClass: 'circles-text',
    styleWrapper: true,
    styleText: true
})

Circles.create({
    id: 'circles-3',
    radius: 45,
    value: {{ flaws | length }},
    maxValue: 100,
    width: 7,
    text: "{{ flaws | length }}",
    colors: ['#f1f1f1', '#FF9E27'],
    duration: {% if animate %} 400 {% else %} 0 {% endif %},
    wrpClass: 'circles-wrp',
    textClass: 'circles-text',
    styleWrapper: true,
    styleText: true
})

var scanObject = document.getElementById('scan-chart').getContext('2d');
var scanChart = new Chart(scanObject, {
    type: 'bar',
    data: {
        labels: ["Scanned", "Not scanned"],
        datasets: [{
            label: "Scan Totals",
            backgroundColor: '#ff9e27',
            borderColor: 'rgb(23, 125, 255)',
            data: [{{ hosts | length }}, 0],
        }],
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
        },
        scales: {
            yAxes: [{
                ticks: {
                    display: false
                },
                gridLines: {
                    drawBorder: false,
                    display: false
                }
            }],
            xAxes: [{
                gridLines: {
                    drawBorder: false,
                    display: false
                }
            }]
        },
    }
});

var platformsObject = document.getElementById('platforms-chart').getContext('2d');
var platformsChart = new Chart(platformsObject, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ platforms.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ platforms.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
            position: 'top'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});

var flawsObject = document.getElementById('flaws-chart').getContext('2d');
var flawsChart = new Chart(flawsObject, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ flaws_ranks.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ flaws_ranks.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
            position: 'top'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});

var sessionsPlatformsObject = document.getElementById('sessions-platforms-chart').getContext('2d');
var sessionsPlatformsChart = new Chart(sessionsPlatformsObject, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ session_platforms.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ session_platforms.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
            position: 'left'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});

var sessionsCountriesObject = document.getElementById('sessions-countries-chart').getContext('2d');
var sessionsCountriesChart = new Chart(sessionsCountriesObject, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ session_countries.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ session_countries.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
            position: 'left'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});
</script>