<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{ project.name }}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <h4 class="page-title">Services</h4>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Top services</div>
                        <div class="card-tools">
                            <button id="services-image" class="btn btn-info btn-border btn-round btn-sm">
                                <span class="btn-label">
                                    <i class="fa fa-file-export mr-2"></i>
                                </span>
                                Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="update-protected chart-container-sm">
                        <canvas id="services-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Top services</div>
                        <div class="card-tools">
                            <button id="services-top-image" class="btn btn-info btn-border btn-round btn-sm">
                                <span class="btn-label">
                                    <i class="fa fa-file-export mr-2"></i>
                                </span>
                                Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="update-protected chart-container-sm">
                        <canvas id="services-top-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Services detected</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="update-protected table-responsive">
                        <table class="display table table-hover" id="services-table">
                            <thead>
                            <tr>
                                <th>Host</th>
                                <th>Gateway</th>
                                <th>DNS</th>
                                <th>Services</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for host in hosts %}
                            {% if host.project == project.uuid %}
                            <tr>
                                <td>{{ host.host }}</td>
                                <td>{{ host.gateway }}</td>
                                <td>{{ host.dns }}</td>
                                <td>
                                    {% for port, service in host.ports.items %}
                                    {% if port == 80 or port == 8080 or port == 443 or port == 81 %}
                                    <button class="btn btn-sm btn-success" onclick="document.getElementById('observeFrame').src = '{{ service }}://{{ host.host }}:{{ port }}/'"
                                            data-toggle="modal" data-target="#openFrame">
                                        <span class="btn-label">
                                            {{ port }}
                                        </span>
                                        {{ service }}
                                    </button>
                                    {% else %}
                                    <button class="btn btn-sm btn-success disabled">
                                        <span class="btn-label">
                                            {{ port }}
                                        </span>
                                        {{ service }}
                                    </button>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('#services-image').on('click', function() {
    var link = document.createElement("a");
    document.body.appendChild(link);
    link.download = "services.png";
    link.href = servicesChart.toBase64Image();
    link.target = '_blank';
    link.click();
});

$('#services-top-image').on('click', function() {
    var link = document.createElement("a");
    document.body.appendChild(link);
    link.download = "services.png";
    link.href = servicesTopChart.toBase64Image();
    link.target = '_blank';
    link.click();
});

$('#services-table').DataTable({
    "pageLength": 5,
});

var servicesTopObject = document.getElementById('services-top-chart').getContext('2d');
var servicesTopChart = new Chart(servicesTopObject, {
    type: 'bar',
    data: {
        labels: {{ services.0 | safe }},
        datasets: [{
            label: "Top Services",
            backgroundColor: '#ff9e27',
            borderColor: 'rgb(23, 125, 255)',
            data: {{ services.1 }},
        }],
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
        },
        scales: {
            yAxes: [{
                ticks: {
                    display: false
                },
                gridLines: {
                    drawBorder: false,
                    display: false
                }
            }],
            xAxes: [{
                gridLines: {
                    drawBorder: false,
                    display: false
                }
            }]
        },
    }
});

var servicesObject = document.getElementById('services-chart').getContext('2d');
var servicesChart = new Chart(servicesObject, {
    type: 'pie',
    data: {
        datasets: [{
            data: {{ services.1 }},
            backgroundColor: {{ colors | safe }}
        }],

        labels: {{ services.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: true,
            position: 'left'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});
</script>
