<div class="content" id="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">{{ project.name }}</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <h4 class="page-title">Sessions</h4>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Top sessions</div>
                            <div class="card-tools">
                                <button id="sessions-image" class="btn btn-info btn-border btn-round btn-sm">
                                    <span class="btn-label">
                                        <i class="fa fa-file-export mr-2"></i>
                                    </span>
                                    Export
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="update-protected chart-container-sm">
                            <canvas id="sessions-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Sessions opened</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="update-protected table-responsive">
                            <table class="display table table-hover" id="sessions-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Platform</th>
                                    <th>Type</th>
                                    <th>Host</th>
                                    <th>Port</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Terminal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for session in sessions %}
                                {% if session.project == project.uuid %}
                                <tr>
                                    <td>{{ session.session }}</td>
                                    <td>{{ session.platform }}</td>
                                    <td>{{ session.type }}</td>
                                    <td>{{ session.host }}</td>
                                    <td>{{ session.port }}</td>
                                    <td>{{ session.latitude }}</td>
                                    <td>{{ session.longitude }}</td>
                                    <td>
                                        <div class="form-button-action">
                                            <button class="btn btn-link btn-dark"
                                                    data-original-title="Terminal"
                                                    onclick="setSession({{ session.session }});"
                                                    data-target="#terminal"
                                                    data-toggle="modal"
                                                    title="" type="submit"
                                                    value="{{ session.session }}">
                                                <i class="fa fa-terminal"></i>
                                            </button>
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-link btn-danger"
                                                        data-original-title="Close"
                                                        data-toggle="tooltip" name="close_session"
                                                        title="" type="submit"
                                                        value="{{ session.session }}">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="terminal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color: {% if dark_mode %} #1f283e {% else %} #ffffff {% endif %}">
            <div class="modal-header">
                <h5 class="modal-title">
                    Terminal
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Here you can execute commands on session</p>
                <div class="row">
                    <div class="col-md-12">
                        <div id="session_terminal" style="border: 3px solid white; border-radius: 10px; height: 100%; width: 100%;" class="terminal"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-bd">
                <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
function setSession(session) {
    self.session = session;
}

jQuery(function($, undefined) {
    $('#session_terminal').terminal(function(command) {
        var terminal = this;

        $.post("/{{ project.uuid }}/sessions", {
            csrfmiddlewaretoken: "{{ csrf_token | safe }}",
            session: self.session,
            command: command
        }, function(data) {
	        terminal.echo(data, {'raw': true});
		});
	}, {
	    greetings: '',
	    name: 'terminal',
	    width: 700,
	    height: 500,
	    prompt: '$ ',
	});
});

$('#sessions-image').on('click', function() {
    var link = document.createElement("a");
    document.body.appendChild(link);
    link.download = "sessions.png";
    link.href = sessionsChart.toBase64Image();
    link.target = '_blank';
    link.click();
});

$('#sessions-table').DataTable({
    "pageLength": 5,
});

var sessionsObject = document.getElementById('sessions-chart').getContext('2d');
var sessionsChart = new Chart(sessionsObject, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ session_platforms.1 }},
            backgroundColor: ['#dc3545', '#fd7e14', '#ffc107', '#6c757d', '#007bff']
        }],

        labels: {{ session_platforms.0 | safe }}
    },
    options: {
        {% if not animate %}
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        {% endif %}
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: true,
            position: 'left'
        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        }
    }
});
</script>