{% extends "layouts/base.html" %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <center>
                            <h5 class="card-title"><strong>Welcome to the</strong></h5>
                            <img src="/static/assets/img/logo.svg"/>
                        </center>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-md-2">
                                <div aria-orientation="vertical"
                                     class="nav flex-column nav-pills nav-primary nav-pills-no-bd nav-pills-icons" id="v-pills-tab-with-icon" role="tablist">
                                    <a aria-controls="v-pills-home-icons" aria-selected="true" class="nav-link active"
                                       data-toggle="pill" href="#v-pills-about-icons" id="v-pills-about-tab-icons"
                                       role="tab">
                                        <i class="flaticon-idea"></i>
                                        About
                                    </a>
                                    <a aria-controls="v-pills-profile-icons" aria-selected="false" class="nav-link"
                                       data-toggle="pill" href="#v-pills-audit-icons" id="v-pills-audit-tab-icons"
                                       role="tab">
                                        <i class="flaticon-chain-1"></i>
                                        Audit
                                    </a>
                                    <a aria-controls="v-pills-profile-icons" aria-selected="false" class="nav-link"
                                       data-toggle="pill" href="#v-pills-collaboration-icons"
                                       id="v-pills-collaboration-tab-icons" role="tab">
                                        <i class="flaticon-users"></i>
                                        Collaboration
                                    </a>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="tab-content" id="v-pills-with-icon-tabContent">
                                    <div aria-labelledby="v-pills-home-tab-icons" class="tab-pane fade show active" id="v-pills-about-icons"
                                         role="tabpanel">
                                        <p>Fishnet is a powerful advanced web platform for collaboration and penetration
                                            testing. It provides wide range of tools for performing various security
                                            checks and for instance generating reports.</p>
                                        <p>Moreover, Fishnet allows security researchers work together in teams, which
                                            makes collaboration much easier.</p>
                                    </div>
                                    <div aria-labelledby="v-pills-profile-tab-icons" class="tab-pane fade" id="v-pills-audit-icons"
                                         role="tabpanel">
                                        <p>Create projects and analyse local network, bluetooth devices or exteranl resources! Fresh and minimalistic graphs and charts will show you understandable picture of your target's vulnerabilities and other security flaws.</p>
                                        <button class="btn btn-primary" onclick="location.href='/projects'">
                                            <span class="btn-label">
                                                <i class="fa fa-box mr-2"></i>
                                            </span>
                                            Go to projects
                                        </button>
                                    </div>
                                    <div aria-labelledby="v-pills-profile-tab-icons" class="tab-pane fade" id="v-pills-collaboration-icons"
                                         role="tabpanel">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
