<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link"
                       href="#"
                       target="_blank">
                        Fishnet
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            &copy; <a href="https://fishnet.com" target="_blank">Fishnet</a>
            - developed by <a href="https://entysec.netlify.app" target="_blank">EntySec</a>
        </div>
    </div>
</footer>
            