<div class="main-header">
    <div class="logo-header" data-background-color="{% if dark_mode %}dark2{% else %}white{% endif %}">
        <a class="logo" href="/">
            <img alt="navbar brand" class="navbar-brand" height=85% src="/static/assets/img/logo.svg" width=85%>
        </a>
        {% if not project and request.user.is_authenticated %}
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
        {% endif %}
    </div>

    <nav class="navbar navbar-header navbar-expand-lg"
         data-background-color="{% if dark_mode %}dark2{% else %}white{% endif %}">

        {% if request.user.is_authenticated %}
        <div class="container-fluid">
            {% if project %}
            <ul class="navbar-nav topbar-nav ml-md-auto">
                <li class="nav-item hidden-caret">
                    <a aria-expanded="false" aria-haspopup="true" class="btn {% if 'network' in segment %}btn-primary{% endif %}"
                       href="/{{ project.uuid }}/network" role="button">
                        <i class="fa fa-wifi mr-2"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item hidden-caret">
                    <a aria-expanded="false" aria-haspopup="true" class="btn {% if 'topology' in segment %}btn-primary{% endif %}"
                       href="/{{ project.uuid }}/topology" role="button">
                        <i class="fa fa-sitemap mr-2"></i>
                        <span>Topology</span>
                    </a>
                </li>
                <li class="nav-item hidden-caret">
                    <a aria-expanded="false" aria-haspopup="true" class="btn {% if 'services' in segment %}btn-primary{% endif %}"
                       href="/{{ project.uuid }}/services" role="button">
                        <i class="fa fa-eye mr-2"></i>
                        <span class="mr-2">Services</span>
                        {% if services %}
                        <span class="badge badge-success">{{ services.0 | length }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item hidden-caret">
                    <a aria-expanded="false" aria-haspopup="true" class="btn {% if 'flaws' in segment %}btn-primary{% endif %}"
                       href="/{{ project.uuid }}/flaws" role="button">
                        <i class="fa fa-lock-open mr-2"></i>
                        <span class="mr-2">Flaws</span>
                        {% if flaws %}
                        <span class="badge badge-danger">{{ flaws | length }}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            {% endif %}
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                {% if project and project.running %}
                <li class="nav-item dropdown hidden-caret">
                    <span class="badge badge-success">Busy</span>
                </li>
                {% endif %}
                {% if not project %}
                <li class="nav-item dropdown hidden-caret">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="messageDropdown" role="button">
                        <i class="fa fa-bell"></i>
                    </a>
                    <ul aria-labelledby="messageDropdown" class="dropdown-menu messages-notif-box animated fadeIn">
                        <li>
                            <div class="dropdown-title d-flex justify-content-between align-items-center">
                                Messages
                            </div>
                        </li>
                        <li>
                            <div class="message-notif-scroll scrollbar-outer">
                                <div class="notif-center">
                                    <a href="#">
                                        <div class="notif-img">
                                            <img alt="Img Profile" src="/static/assets/img/icon.png">
                                        </div>
                                        <div class="notif-content">
                                            <span class="subject">Fishnet</span>
                                            <span class="block">
														Welcome to Fishnet, yet another auditor!
													</span>
                                            <span class="time">success</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown hidden-caret">
                    <a aria-expanded="false" class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-layer-group"></i>
                    </a>
                    <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
                        <div class="quick-actions-header">
                            <span class="title mb-1">Quick actions</span>
                            <span class="subtitle op-8">Some quick actions</span>
                        </div>
                        <div class="quick-actions-scroll scrollbar-outer">
                            <div class="quick-actions-items">
                                <div class="row m-0">
                                    <a class="col-6 col-md-4 p-0" href="#">
                                        <div class="quick-actions-item">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-link" data-toggle="tooltip"
                                                        name="toggle_dark"
                                                        title="" type="submit" value="{% if dark_mode %} 0 {% else %} 1 {% endif %}">
                                                    {% if dark_mode %}
                                                    <i class="fas fa-sun"></i>
                                                    {% else %}
                                                    <i class="fas fa-moon"></i>
                                                    {% endif %}
                                                </button>
                                            </form>
                                        </div>
                                    </a>
                                    <a class="col-6 col-md-4 p-0" href="#">
                                        <div class="quick-actions-item">
                                            <button class="btn btn-link" data-target="#showTeam" data-toggle="modal">
                                                <i class="fas fa-user"></i>
                                            </button>
                                        </div>
                                    </a>
                                    <a class="col-6 col-md-4 p-0" href="#">
                                        <div class="quick-actions-item">
                                            <button class="btn btn-link" data-target="#addTeam" data-toggle="modal">
                                                <i class="fas fa-user-plus"></i>
                                            </button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown hidden-caret">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link"
                       href="/projects" role="button">
                        <i class="fa fa-eject"></i>
                    </a>
                    <a aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                       href="#" id="projectDropdown" role="button">
                        <i class="fa fa-box mr-2"></i>
                        <span>{{ project.name }}</span>
                    </a>
                    <ul aria-labelledby="projectDropdown" class="dropdown-menu messages-notif-box animated fadeIn">
                        <li>
                            <div class="dropdown-title d-flex justify-content-center align-items-center">
                                {{ project.name }}
                            </div>
                        </li>
                        <li>
                            <div class="message-notif-scroll scrollbar-outer">
                                <div class="notif-center">
                                    <a class="justify-content-center">
                                        <div class="notif-content">
                                            <button class="btn btn-success btn-sm" data-target="#selectScanner" data-toggle="modal">
                                                <i class="fas fa-rocket mr-2"></i>
                                                <span>Execute</span>
                                            </button>
                                        </div>
                                    </a>
                                    <a class="justify-content-center">
                                        <div class="notif-content">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button name="project_stop" type="submit" class="btn">
                                                    <i class="fas fa-ban"></i>
                                                </button>
                                                {% if request.user.username == project.author %}
                                                <button name="project_archive" type="submit" class="btn">
                                                    <i class="fas fa-archive"></i>
                                                </button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown hidden-caret">
                    <a aria-expanded="false" class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <div class="avatar-sm">
                            <img alt="..." class="avatar-img rounded-circle" src="/static/assets/img/icon.png">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <li>
                            <div class="user-box">
                                <div class="avatar-lg"><img alt="image profile" class="avatar-img rounded"
                                                            src="/static/assets/img/icon.png"></div>
                                <div class="u-text">
                                    <h4>
                                        {% if request.user.first_name or request.user.last_name %}
                                        {% if request.user.first_name %}
                                        {{ request.user.first_name }}
                                        {% endif %}
                                        {% if request.user.last_name %}
                                        {{ request.user.last_name }}
                                        {% endif %}
                                        {% else %}
                                        {{ request.user.username }}
                                        {% endif %}
                                    </h4>
                                    <p class="text-muted">
                                        {{ request.user.username }}
                                    </p>
                                    <a class="btn btn-xs btn-primary btn-sm" data-target="#showProfile" data-toggle="modal"
                                       href="#">View Profile</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
</div>