<div class="main-header">
    <div class="logo-header" data-background-color="{% if dark_mode %}dark2{% else %}white{% endif %}">
        <a class="logo" href="/">
            <img draggable="false" alt="navbar brand" class="navbar-brand" height=85% src="/static/assets/img/logo.svg" width=85%>
        </a>
        {% if not project and request.user.is_authenticated %}
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
        {% endif %}
    </div>

    <nav class="navbar navbar-header navbar-expand-lg"
         data-background-color="{% if dark_mode %}dark2{% else %}white{% endif %}"
         id="navigation-content">
    </nav>
</div>

<script>
    $('#projectForm').ajaxForm(function(response) {});
</script>