<script src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>

<script src="/static/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<script src="/static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<script src="/static/assets/js/plugin/chart.js/chart.min.js"></script>

<script src="/static/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<script src="/static/assets/js/plugin/chart-circle/circles.min.js"></script>

<script src="/static/assets/js/plugin/datatables/datatables.min.js"></script>

<script src="/static/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<script src="/static/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

<script src="/static/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"></script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.29.1/js/jquery.terminal.js"></script>

<script src="/static/assets/js/fishnet.min.js"></script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
<script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>

<script>
    {% if project %}
    $(document).ready(function() {
        update_navigation('{{ request.path }}', '{{ project.uuid }}');

        setInterval(function() {
            update_navigation('{{ request.path }}', '{{ project.uuid }}')
        }, 1000);
	});
	{% endif %}

    function update(url, update, project_uuid, params = {}) {
        if (!$._data(window, "events").resize[1] && $('.update-protected:hover').length == 0) {
            var data_params = {
                project_uuid: project_uuid,
                update: update,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            };

            var data = $.extend(params, data_params);

            $.ajax({
                url: url,
                type: "POST",
                data: data,
                success: function(data) {
                    $('#content').html(data);
                    $(".modal-dialog").draggable({
                        handle: ".modal-header"
                    });
                }
            });
        }
    }

    function update_navigation(url, project_uuid) {
        var data_params = {
            project_uuid: project_uuid,
            update: 'navigation',
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.ajax({
            url: url,
            type: "POST",
            data: data_params,
            success: function(data) {
                $('#navigation-content').html(data);
                $(".modal-dialog").draggable({
                    handle: ".modal-header"
                });
            }
        });
    }

    function fillFlawOptions(url, flaw) {
        $.ajax(url, {
            type: 'POST',
            data: {
                update: 'attack',
                project_uuid: '{{ project.uuid }}',
                flaw_options: flaw,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $('#content').html(data)
            }
        });
    }

    function setFlawOption(url, flaw, option, value) {
        $.ajax(url, {
            type: 'POST',
            data: {
                set_option: flaw,
                option: option,
                value: value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
    }

    function fillAttackDetails(url, flaw, host, port) {
        if (url && flaw) {
            $.ajax(url, {
                type: 'POST',
                data: {
                    attack_details: flaw,
                    host: host,
                    port: port,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#attack-details-content').html(data)
                }
            });
        } else {
            $('#attack-details-content').html('');
        }
    }

    function fillHostDetails(url, host) {
        if (url && host) {
            $.ajax(url, {
                type: 'POST',
                data: {
                    host_details: host,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#host-details-content').html(data);
                }
            });
        } else {
            $('#host-details-content').html('');
        }
    }

    function fillFlawDetails(url, flaw) {
        if (url && flaw) {
            $.ajax(url, {
                type: 'POST',
                data: {
                    flaw_details: flaw,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#flaw-details-content').html(data);
                }
            });
        } else {
            $('#flaw-details-content').html('');
        }
    }

    function editTeam(team_name) {
        document.getElementById('edit_team_name').value = team_name;
        document.getElementById('edit_team').value = team_name;
    }

    $(".modal-dialog").draggable({
        handle: ".modal-header"
    });

	$(document).ready(function() {
		$('#teams-table').DataTable({
			"pageLength": 5,
		});
	});
</script>