<div class="sidebar sidebar-style-2" data-background-color="{% if dark_mode %}dark2{% else %}white{% endif %}">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            {% if request.user.is_authenticated %}
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img draggable="false" alt="..." class="avatar-img rounded-circle" src="/static/assets/img/icon.png">
                </div>
                <div class="info">
                    <a aria-expanded="true" data-toggle="collapse" href="#collapseExample">
                        <span>
                            {% if request.user.first_name or request.user.last_name %}
                            {% if request.user.first_name %}
                            {{ request.user.first_name }}
                            {% endif %}
                            {% if request.user.last_name %}
                            {{ request.user.last_name }}
                            {% endif %}
                            {% else %}
                            {{ request.user.username }}
                            {% endif %}
                            <span class="user-level">
                                {{ request.user.username }}
                            </span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="{% url 'logout' %}">
                                    <span class="link-collapse">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item {% if 'projects' in segment %} active {% endif %}">
                    <a href="/projects">
                        <i class="fa fa-box"></i>
                        <p>Projects</p>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>